**/*.log
*.md
.git
/bin/
/obj/
/.vs/
*.user
*.sln.docstates
.editorconfig
*.csproj.user
*.suo
*.userosscache
.vs/
npm-debug.log*
.idea/
.vscode/
Dockerfile
.dockerignore
docker-compose*
dockerfile*
Dockerfile.*
entrypoint*
init*
wait-for-it*